
*{
  font-family: Roboto;
  color: $txt-primary;
}
ul{
  list-style: none;  
}
a{
  text-decoration: none !important;
}

.f-mantou{
    font-family: "Mantou Sans" !important;
}
.f-inter{
    font-family: "Inter" !important;
}