// xsm
@media(min-width: 375px){
    .cadidate-img{
        width: 140px;
    }
}

// sm
@media(min-width: 576px){
    .logo{
        width: 53px;
        height: 33px;
    }
}

// md
@media(min-width: 768px){
}

// lg
@media(min-width: 992px){
    .cadidate-img{
        width: 200px;
    }
}

// xl
@media(min-width: 1200px){
    body{
        overflow: hidden;
        height: 100vh !important;
    }
    aside{
        height: auto !important;
    }
}