// colors
$primary:         #D4009B;
$secondary:       #E9ECEF; // bg color
$txt-primary:     #334155;
$txt-secondary:   #64748B;
$txt-third:       #F3F4F4;
$hover-color:     #F8F9FA; 
$line-color:      #DEE2E6;
$role-1:          #8082FF;
$role-2:          #F4A76F;
$role-3:          #57D2A9;

$theme-colors: (
  "primary":    $primary,
  "secondary":   $secondary,
  "txt-primary":  $txt-primary,
  "txt-secondary": $txt-secondary,
  "txt-third":     $txt-third,
  "hover-color":  $hover-color,
  "line-color": $line-color,
  "role-1":   $role-1,
  "role-2":   $role-2,
  "role-3":   $role-3,
);

// fonts
$headings-font-family: "Inter" !default;

// ratios
$aspect-ratios: (
  "9x21": calc(21 / 9 * 100%),
);