<!-- 
    Structure:
        1. 網頁標題、Logo
        2. 年份選單
        3. 縣市、區域選單
        4. 分享
 -->
<header class="overflow-visible">
    <div class="container-fluid border-bottom">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3 g-xl-0 py-16 align-items-center">
            <div class="col col-md-7 col-xl-6">
                <div class="d-flex align-items-center justify-content-between justify-content-md-start">
                    <!-- 1. 網頁標題、Logo -->
                    <a href="index.html" class="d-flex align-items-center me-4 me-md-8 me-xl-48">
                        <img src="/assets/images/logo-small.png" alt="logo" class="logo me-8 d-none d-xsm-block">
                        <span class="f-mantou fs-24 fs-sm-28">台灣歷年總統 都幾?</span>
                    </a>
                    <!-- 2. 年份選單 -->
                    <div class="dropdown d-flex align-items-center">
                        <p class="d-none d-lg-block mb-0 fw-bold me-md-12">
                            選擇年份
                        </p>
                        <a  class="btn btn-secondary dropdown-toggle rounded-pill" 
                            id="dropdownMenuLink"
                            href="#"
                            role="button" 
                            data-bs-toggle="dropdown" 
                            aria-expanded="false">
                            <span class="me-sm-24 me-lg-48 me-xl-48">2020</span>
                        </a>
                        <ul class="dropdown-menu" 
                            style="width:118px" 
                            aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">2020</a></li>
                            <li><a class="dropdown-item" href="#">2016</a></li>
                            <li><a class="dropdown-item" href="#">2012</a></li>
                            <li><a class="dropdown-item" href="#">2008</a></li>
                            <li><a class="dropdown-item" href="#">2004</a></li>
                            <li><a class="dropdown-item" href="#">2000</a></li>
                            <li><a class="dropdown-item" href="#">1996</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 3. 縣市、區域選單 -->
            <div class="col col-md-5 col-xl-4">
                <div class="container-fluid p-0">
                    <div class="row row-cols-md-2 g-0">
                        <!-- 3-1. 縣市 -->
                        <div class="dropdown col">
                            <a  class="btn btn-secondary dropdown-toggle d-flex align-items-center w-100" 
                                style="border-radius: 50px 0 0 50px;"
                                id="dropdown-city" 
                                href="#"
                                role="button" 
                                data-bs-toggle="dropdown" 
                                aria-expanded="false">
                                <span class="material-symbols-outlined me-8 me-xsm-12 d-none d-xsm-block">search</span>
                                <span class="me-28 me-sm-116 me-md-12 me-xl-52">全部縣市</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown-city">
                                <li><a class="dropdown-item" href="#">台北市</a></li>
                                <li><a class="dropdown-item" href="#">新北市</a></li>
                                <li><a class="dropdown-item" href="#">高雄市</a></li>
                            </ul>
                        </div>
                        <!-- 3-2. 區域 -->
                        <div class="dropdown col">
                            <a  class="btn btn-secondary dropdown-toggle ps-0 text-start w-100" 
                                style="border-radius: 0 50px 50px 0;"
                                id="dropdown-region" 
                                href="#"
                                role="button" 
                                data-bs-toggle="dropdown" 
                                aria-expanded="false">
                                <span class="ps-24 ms-8 me-28 me-sm-116 me-md-12 me-xl-52 border-start border-link-color border-2">選擇區域</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown-region">
                                <li><a class="dropdown-item" href="#">台北市</a></li>
                                <li><a class="dropdown-item" href="#">新北市</a></li>
                                <li><a class="dropdown-item" href="#">高雄市</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- 4. 分享 -->
            <div class="col-xl-2 d-none d-xl-flex">
                <p class="me-16 mb-0 ps-0 ms-auto">分享</p>
                <ul class="d-flex mb-0 ps-0">
                    <li class="me-16 align-center"><a href="#"><img src="/assets/images/icon-fb.png" height="23px" class="align-top" alt="facebook"></a></li>
                    <li class="me-16 align-center"><a href="#"><img src="/assets/images/icon-ig.png" height="23px" class="align-top" alt="instagram"></a></li>
                    <li class="me-16 align-center"><a href="#"><img src="/assets/images/icon-yt.png" height="23px" class="align-top" alt="youtube"></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>