<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2023 總統大選</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.css" rel="stylesheet">
</head>
<!-- 
    body 結構:
        1. header EJS
        2. aside: 台灣地圖
            (1) Modal: Map EJS
        3. main: 全臺縣市總統得票
            3-1. 總統得票數
                (1) 個人得票數
                (2) 全民投票數 | chart-vote-rate.js
            3-2. 政黨得票數
                (1) 得票數 | chart-bar-party.js
                (2) 得票率 | chart-line-party.js
            3-3. 各縣市投票總覽 | data.js
        4. footer EJS
 -->
<body>
    <!-- 1. header EJS -->
    <%- include('./layout/header'); -%>

    <div class="d-flex flex-column flex-xl-row h-100">
        <!-- 2. aside: 台灣地圖 -->
        <aside class="bg-map-blue col-xl-3 overflow-hidden position-relative" style="height: 200px;">
            <!-- Modal: Map EJS -->
            <%- include('./layout/modal-map'); -%>
            <img src="/assets/images/map.png" class="py-24 px-8 w-100 bg-map-blue" alt="Taiwan map">
        </aside>
        <!-- 3. main: 全臺縣市總統得票 -->
        <main class="col-xl-9 overflow-auto">
            <div class="container px-24">
                <h3 class="mt-32 mb-12 fw-bold">全臺縣市總統得票</h3>
                <!-- 3-1. 總統得票數 -->
                <section class="bg-txt-third p-16 rounded rounded-3 mb-24">
                    <h5 class="pt-8">總統得票數</h5>
                    <div class="container-fluid p-0">
                        <div class="row g-2">
                            <!-- (1) 個人得票數 -->
                            <div class="col col-xl-7">
                                <div class="p-24 p-sm-12 p-md-24 bg-white rounded rounded-3 h-100">
                                        <!-- 候選人 -->
                                        <div class="d-flex mb-12 flex-column flex-sm-row justify-content-evenly">
                                            <!-- 候選人 1 -->
                                            <div class="d-flex mb-8 mb-xl-0">
                                                <img src="/assets/images/small-cadidate1.png" width="48px" height="48px" alt="candidate 1">
                                                <div class="px-12">
                                                    <p class="mb-4 fs-12 text-txt-secondary">蝙蝠黨</p>
                                                    <p class="mb-4">德古拉</p>
                                                    <p class="mb-4 fw-bold">8,170,231 <span class="fw-normal">票</span></p>
                                                </div>
                                            </div>
                                            <!-- 候選人 2 -->
                                            <div class="d-flex mb-8 mb-xl-0">
                                                <img src="/assets/images/small-cadidate2.png" width="48px" height="48px" alt="candidate 2">
                                                <div class="px-12">
                                                    <p class="mb-4 fs-12 text-txt-secondary">弓箭黨</p>
                                                    <p class="mb-4">林克</p>
                                                    <p class="mb-4 fw-bold">5,522,119 <span class="fw-normal">票</span></p>
                                                </div>
                                            </div>
                                            <!-- 候選人 3 -->
                                            <div class="d-flex">
                                                <img src="/assets/images/small-cadidate3.png" width="48px" height="48px" alt="candidate 3">
                                                <div class="px-12">
                                                    <p class="mb-4 fs-12 text-txt-secondary">木棍黨</p>
                                                    <p class="mb-4">綠巨魔</p>
                                                    <p class="mb-4 fw-bold">608,590 <span class="fw-normal">票</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 圖表：候選人得票比率 -->
                                        <div class="progress my-8 my-xl-0">
                                            <div class="progress-bar bg-role-1" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                                            <div class="progress-bar bg-role-2" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                                            <div class="progress-bar bg-role-3" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                                        </div>
                                </div>
                            </div>
                            <!-- (2) 全民投票數 -->
                            <div class="col col-xl-5">
                                <div class="px-12 py-16 bg-white rounded rounded-3 d-flex justify-content-evenly align-items-center h-100">
                                        <!-- File: chart-vote-rate.js -->
                                        <div id="chartVoteRate" class="me-24 me-xl-12"></div>
                                        <!-- 投票數、投票率... -->
                                        <div class="d-flex flex-wrap justify-content-between justify-content-sm-evenly justify-content-lg-between">
                                            <div class="pe-40 mb-8 col-xl-6">
                                                <p class="mb-4 text-txt-secondary fs-14">投票數</p>
                                                <p class="mb-4 fw-bold">12,448,302</p>
                                            </div>
                                            <div class="pe-40 mb-8 col-xl-6">
                                                <p class="mb-4 text-txt-secondary fs-14">投票率</p>
                                                <p class="mb-4 fw-bold">66.27%</p>
                                            </div>
                                            <div class="pe-40 mb-8 mb-xl-0 col-xl-6">
                                                <p class="mb-4 text-txt-secondary fs-14">有效票數</p>
                                                <p class="mb-4 fw-bold">12,284,970</p>
                                            </div>
                                            <div class="pe-40 col-xl-6">
                                                <p class="mb-4 text-txt-secondary fs-14">無效票數</p>
                                                <p class="mb-4 fw-bold">163,332</p>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 3-2. 政黨得票數 -->
                <section class="d-flex flex-column flex-lg-row mb-24">
                    <!-- (1) 得票數  -->
                    <div class="p-16 border border-secondary rounded rounded-3 me-20 w-100 w-lg-50 mb-16 mb-lg-0">
                        <div class="d-flex flex-column justify-content-between align-items-center pb-20 py-16">
                            <h5>歷屆政黨得票數</h5>
                            <!-- 圖表標示 -->
                            <ul class="d-flex m-0 p-0">
                                <li class="fs-12 pe-4">
                                    <span 
                                        class="d-inline-block bg-role-1 rounded" 
                                        style="width: 8px; height: 8px;">
                                    </span> 
                                    蝙蝠黨
                                </li>
                                <li class="fs-12 pe-4">
                                    <span 
                                        class="d-inline-block bg-role-2 rounded" 
                                        style="width: 8px; height: 8px;">
                                    </span> 
                                    弓箭黨
                                </li>
                                <li class="fs-12 pe-4">
                                    <span 
                                        class="d-inline-block bg-role-3 rounded" 
                                        style="width: 8px; height: 8px;">
                                    </span> 
                                    木棍黨
                                </li>
                            </ul>
                        </div>
                        <!-- File: chart-bar-party.js -->
                        <div id="chartBarParty" class="me-12"></div>
                    </div>
                    <!-- (2) 得票率  -->
                    <div class="p-16 border border-secondary rounded rounded-3 w-100 w-lg-50">
                        <div class="d-flex flex-column justify-content-between align-items-center pb-20 py-16">
                            <h5>歷屆政黨得票率</h5>
                            <!-- 圖表標示 -->
                            <ul class="d-flex m-0 p-0">
                                <li class="fs-12 pe-4">
                                    <span 
                                        class="d-inline-block bg-role-1 rounded" 
                                        style="width: 8px; height: 8px;">
                                    </span> 
                                    蝙蝠黨
                                </li>
                                <li class="fs-12 pe-4">
                                    <span 
                                        class="d-inline-block bg-role-2 rounded" 
                                        style="width: 8px; height: 8px;">
                                    </span> 
                                    弓箭黨
                                </li>
                                <li class="fs-12 pe-4">
                                    <span 
                                        class="d-inline-block bg-role-3 rounded" 
                                        style="width: 8px; height: 8px;">
                                    </span> 
                                    木棍黨
                                </li>
                            </ul>
                        </div>
                        <!-- File: chart-line-party.js -->
                        <div id="chartLineParty" class="me-12"></div>
                    </div>
                </section>
                <!-- 3-3. 各縣市投票總覽 -->
                <section>
                    <h5>各縣市投票總覽</h5>
                    <table class="table table-hover fs-14">
                        <thead class="bg-secondary text-txt-secondary">
                        <tr>
                            <th scope="col" style="width: 15%;">地區</th>
                            <th scope="col" style="width: 20%;">得票率</th>
                            <th scope="col" style="width: 22%;">當選人</th>
                            <th scope="col" style="width: 18%;" class="d-none d-sm-table-cell">投票數</th>
                            <th scope="col" style="width: 18%;" class="d-none d-md-table-cell">投票率</th>
                            <th scope="col" style="width: 7%;"></th>
                        </tr>
                        </thead>
                        <tbody id="tableBody">
                            <!-- File: data.js -->
                        </tbody>
                    </table>
                </section>
            </div>
            <!-- 4. footer EJS -->
            <%- include('./layout/footer'); -%>
        </main>
    </div>

    <!-- Load d3.js and c3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.js"></script>
    <!-- all.js -->
    <script type="module" src="../main.js"></script>
</body>
</html>